@page
@model CreateProductsModel
@{

}

<a href="/CreatePoster"> Poster</a>
<a href="/CreateBook"> Book</a>
@*<a href="/CreateEBook"> EBook</a>*@
<a href="/CreateFigure"> Figure</a>
<a href="/CreateClothing"> Clothing</a>



